*~
*.DS_Store
*.log
*.cookie
log
*~

# XCode noise
*.swp
*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
tmp

# IDEA files
.idea/*
*.iml
deps
out
# erlang binaries and release

.vagrant

*.sublime-project
*.sublime-workspace

# apps
src/

# production data
priv/ansible/group_vars/*production
priv/ansible/group_vars/*staging
priv/ansible/host_vars/
