### BEGIN INIT INFO
# Provides: erly
# Required-Start: $network
# Required-Stop: $network
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
### END INIT INFO
#!/bin/sh
export HOME={{ erly_bin_path }}
export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export AWS_CONFIG_FILE=/home/{{ deploy_user }}/.aws/config
case "$1" in
    ping)
        {{ erly_bin_path }}/{{ erly_bin_name }} ping
        ;;
    start)
        {{ erly_bin_path }}/{{ erly_bin_name }} start
        ;;
    stop)
        {{ erly_bin_path }}/{{ erly_bin_name }} stop
        ;;
    restart)
        $0 stop
        sleep 1
        $0 start
        ;;
    *)
        echo "Usage: /etc/init.d/erlyd {ping|start|stop|restart}"
        exit 1
        ;;
esac