{rtmp_port, {{erly_rtmp_port}}}.
{http_port, {{erly_http_port}}}.
{rtmp_default_wait, false}.
{vhosts, [
  {default, [
    {file_access, file},
  	{detectors, [rewrite, http, file, livestream]},
    {hostname, ["localhost"]},
    {rtmp_handlers, [auth_users_limit, tb_rtmp_share_handler, tb_rtmp_handler, apps_streaming, apps_recording, notfound_rtmp_handler]},
    {file_dir, "/"},
  ]}
]}.
