production:
  bucket: {{ aws_bucket }}
  aws_key_id: {{ aws_key }}
  aws_secret: {{ aws_secret }}

development:
  bucket: {{ aws_bucket }}
  aws_key_id: {{ aws_key }}
  aws_secret: {{ aws_secret }} 

test:
  bucket: {{ aws_bucket }}
  aws_key_id: {{ aws_key }}
  aws_secret: {{ aws_secret }}
