production:
  adapter: postgresql
  host: {{ postgresql_host }}
  database: {{ postgresql_databases }}
  username: {{ postgresql_db_user }}
  password: {{ postgresql_db_user_pass }} 
  encoding: unicode
  pool: 10
