production:
  secret_key_base: {{ app_secret }}
  aws:
    bucket: {{ aws_bucket }}
    aws_key_id: {{ aws_key }}
    aws_secret: {{ aws_secret }}
  erly:
    host: {{ erly.host }}
    api_key: {{ erly.api_key }}
    varnish_host: {{ erly.varnish_host }}
  fyler:
    host: {{ fyler_host }}
    login: {{fyler_login }}
    password: {{ fyler_pass }}
    callback_host: {{ fyler_callback_host}}